.wd-45-px{
    width: 45px;
    padding: 0;
}

.bg-black-main{
    background-color: #222;
}

.title-text{
    color: #9d9d9d;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.color-white{
    color: #9d9d9d;
}

.color-white-really{
    color: white;
}

/*.bor-bm-1{*/
/*    border-bottom: 1px #9d9d9d;*/
/*}*/

.message-box-big{
    height: 50px;
    font-size: 20px;
}

.message-box-big-in{
    border-bottom: 1px solid #9d9d9d;
    padding: 10px 0;
}

.message-box-big-xs{
    height: 80px;
    font-size: 20px;
}

.text-hover-light:hover{
    color: white;
}

.cur-poin{
    cursor: pointer;
}

.other-big-box{
    margin-top: 15px;
    margin-bottom: 15px;
}

.others-box div{
    color: #9d9d9d;
}

.box-1:hover .other-box-1{
    color: white;
}

.box-2:hover .other-box-2{
    color: white;
}

.box-3:hover .other-box-3{
    color: white;
}

.square-item {
    height: 30vw;
    padding: 5px;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 12px;
    width: calc(33.33333333% - 12px);
    cursor: pointer;
}

.square-item-xs{
    height: 60vw;
    padding: 5px;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.square-item img{
    width: 100%;
}

.square-item-xs img{
    width: 100%;
}

.square-item div{
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
}

.square-item-xs div{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.footer{
    background-color: black;
    color: white;
    padding-bottom: 20px;
}

.footer a, .footer .glyphicon-arrow-up {
    color: #b5b5b5;
}

.pagetop{
    margin-top: 25px;
    margin-bottom: 15px;
}

.footer-nav {
    padding: 16px 16px 0 16px;
    text-align: center;
    font-size: 0;
}

ol, ul {
    list-style: none;
    margin-bottom: 0;
}
.footer-nav li {
    border-right: solid 1px #b5b5b5;
}
.footer-nav li {
    display: inline;
    padding: 0 16px;
    border-right: solid 1px #757575;
    font-size: 12px;
    font-size: 1.2rem;
}

.nav-1:hover{
    color: white;
}

.nav-2:hover{
    color: white;
}

.nav-3:hover{
    color: white;
}

.nav-4:hover{
    color: white;
}

.footer a, .footer .fa {
    color: #b5b5b5;
}

.copyright {
    padding: 16px 0;
    letter-spacing: 1px;
    text-align: center;
}

.copyright small{
    color: #b5b5b5;
}

.footer-nav-a:hover{
    color: white;
}

.footer-nav-a:hover i{
    color: white;
}

#myCarousel a{
    color:
}